.toggle-btn-container {
  display: flex;
  align-items: center;
  gap: 1rem;

  .toggle-text {
    color: hsl(230, 22%, 74%);
    font-weight: 700;
  }

  .toggle-button {
    border: none;
    padding: 0;
    margin: 0;
    width: 70px;
    height: 34px;
    background-color: hsl(230, 22%, 74%);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: end;
    transition: all 0.3s;

    .inner-toggle-button {
      margin: 0.3rem;
      width: 28px;
      height: 80%;
      background-color: hsl(0, 0%, 100%);
      border-radius: 50%;
      transition: all 0.3s;
    }

    .inner-active {
      background-color: hsl(228, 28%, 20%);
      -ms-transform: translateX(-115%);
      -webkit-transform: translateX(-115%);
      transform: translateX(-115%);
    }
  }

  .toggle-button:hover {
    cursor: pointer;
  }

  .toggle-active {
    background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  }

  @media (max-width: 675px) {
    padding-top: 1rem;
    margin-top: 2rem;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid hsl(228, 34%, 66%);
  }
}
