@import "variables.scss";

body {
  font-family: "Inter", serif;
}

.very-dark-blue {
  background-color: $Very-Dark-Blue;
}

.App {
  width: 85%;
  margin: 0 auto;

  header {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
      .header-title {
        font-size: 2rem;
        margin: 0;
        color: $Very-Dark-Blue;
      }

      .white {
        color: $White;
      }

      .header-subtitle {
        color: $Dark-Grayish-Blue;
        font-weight: 700;
        margin: 0;
        padding-top: 0.3rem;
      }

      .desatured-blue {
        color: $Desaturated-Blue;
      }
    }
  }
}

.main-cards-container {
  margin: 3.2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.overview-title {
  color: $Dark-Grayish-Blue;
  font-size: 1.6rem;
}

.white {
  color: $White;
}

.secondary-cards-container {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem;
  justify-items: center;
}

footer {
  margin: 3rem 0 0;
  text-align: center;
  letter-spacing: 0.05rem;

  p {
    font-weight: 700;

    a {
      color: $YouTube;
    }

    .lime-green {
      color: $Lime-Green;
    }
  }
}
