@import "variables.scss";

body {
  font-family: "Inter", serif;
}

.App {
  width: 85%;
  margin: 0 auto;

  header {
    margin-top: 2rem;

    h1 {
      font-size: 2rem;
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}

.main-cards-container {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.secondary-cards-container {
  margin: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
