@import "variables.scss";

body {
  font-family: "Inter", serif;
}

.App {
  width: 85%;
  margin: 0 auto;

  header {
    margin-top: 2rem;

    h1 {
      font-size: 2rem;
      margin: 0;
    }

    p {
      color: $Dark-Grayish-Blue;
      font-weight: 700;
      margin: 0;
    }
  }
}

.main-cards-container {
  margin: 3.2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.subtitle {
  color: $Dark-Grayish-Blue;
  font-size: 1.6rem;
}

.secondary-cards-container {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem;
  justify-items: center;
}
